<!-- animation.html -->
<div class="animation" >

    <h1 class="aria">Animation Page</h1>


    <section id="module-1a">
        <div id='nav-arrow'></div>
        <div class='obj' id='big-bang-whole'>
            <div class='obj' id='big-bang-rotate'>
                <div class='obj' id='big-bang-rays'></div>
            </div>
                    <div class='obj' id='big-bang-spots'></div>
                    <div class='obj' id='big-bang'></div>
        </div>


        <div class='obj' id='hawk'>
            <div class='obj' id='hawking'></div>
            <div class='obj' id='hawking-smoke-1'></div>
            <div class='obj' id='hawking-smoke-2'></div>
        </div>


        <div class='obj' id='baby-bjorn'>
            <div class='obj' id='baby'></div>
            <div class='obj' id='baby-bubble'></div>
            <div class='obj' id='baby-fore'></div>
        </div>

        <div class='obj' id='tardis'></div>

        <div class='obj' id='flight_of_the_navigator-go-HAM'>
            <div class='obj' id='flight_of_the_navigator'></div>
        </div>

        <div class='obj' id='laika'>
            <div class='obj' id='laika-dog'></div>
            <div class='obj' id='laika-smoke'></div>
        </div>

        <div class='obj' id='spacecoaster'></div>
        <div class='obj' id='carl'></div>
        <div class='obj' id='foreground-cosmos'></div>
        <div class='obj' id='deathstar'></div>
        
        <div class='obj' id='p-crew'>
            <div class='obj' id='peter-pan'></div>
        </div>
        
        <div class='obj' id='peter-pan-star-1'></div>
        <div class='obj' id='peter-pan-star-2'></div>
        <div class='obj' id='peter-pan-star-3'></div>
        
        <div class='obj' id='neko-blink'></div>
        <div class='obj' id='neko-bus'></div>
        
        <div class='obj' id='godzilla'>
            <div class='obj' id='godzilla-rawr'></div>
            <div class='obj' id='godzilla-flame-01'></div>
            <div class='obj' id='godzilla-flame-02'></div>
            <div class='obj' id='godzilla-flame-03'></div>
            <div class='obj' id='godzilla-monster'></div>      
        </div>


        <div class='obj' id='beetlejuice'>
            <div class='obj' id='beetlejuice-house'></div>
            <div class='obj' id='beetlejuice-sando-1'></div>
            <div class='obj' id='beetlejuice-sando-2'></div>
            <div class='obj' id='beetlejuice-sando-3'></div>
        </div>
        
        <div class='obj' id='mountains-magesty'>
            <div class='obj' id='mist-01'></div>
            <div class='obj' id='mist-02'></div>
            <div class='obj' id='mist-03'></div>
            <div class='obj' id='mist-04'></div>
            <div class='obj' id='mist-05'></div>
            <div class='obj' id='mist-06'></div>
            <div class='obj' id='mountains'></div>
        </div>
        
        <div class='obj' id='beetlejuice-road'></div>
    </section>

    <section id="module-1b">
        <div class='obj' id='falcor'></div>
        <div class='obj' id='tip-top-buildings'></div>
        <div class='obj' id='midget'></div>
        <div class='obj' id='totoro'>
            <div class='obj' id='totoro-close'></div>
            <div class='obj' id='totoro-blink'></div>
            <div class='obj' id='totoro-ears'></div>
            <div class='obj' id='umbrella-moves'>
                <div class='obj' id='totoro-umbrella-front'></div>
            </div>
        <div class='obj' id='totoro-umbrella-back'></div>
        </div>
        <div class='obj' id='soot-sprites'>
            <div class='obj' id='soot-sprites-01'></div>
            <div class='obj' id='soot-sprites-02'></div> 
            <div class='obj' id='soot-sprites-03'></div> 
            <div class='obj' id='soot-sprites-04'></div> 
            <div class='obj' id='soot-sprites-05'></div> 
            <div class='obj' id='soot-sprites-06'></div>
            <div class='obj' id='soot-sprites-07'></div> 
            <div class='obj' id='soot-sprites-08'></div> 
            <div class='obj' id='soot-sprites-09'></div> 
            <div class='obj' id='soot-sprites-010'></div> 
            <div class='obj' id='soot-sprites-011'></div> 
            <div class='obj' id='soot-sprites-012'></div> 
            <div class='obj' id='soot-sprites-013'></div> 
            <div class='obj' id='soot-sprites-014'></div> 
            <div class='obj' id='soot-sprites-015'></div> 
            <div class='obj' id='soot-sprites-016'></div> 
            <div class='obj' id='soot-sprites-017'></div> 
            <div class='obj' id='soot-sprites-018'></div>     
        </div>

        <div class='obj' id='slimer-hold'>
            <div class='obj' id='slimer'></div>
        </div>
        <div class='obj' id='laser-bend'>
            <div class='obj' id='laser'></div>
        </div>

        <div class='obj' id='harold'></div>
    </section>

    <section id="module-1c">
        <div class='obj' id='rearview'></div>
        <div class='obj' id='music-notes'></div>
        <div class='obj' id='royal-tenenbaums'></div>
        <div class='obj' id='smoke-1'></div>
        <div class='obj' id='smoke-2'></div>
        <div class='obj' id='smoke-3'></div>
    </section>

    <section id="module-1d">
        <div class='obj' id='raphael-turtle'></div>
        <div class='obj' id='wave-1'></div>
        <div class='obj' id='kurt-russell'></div>
        <div class='obj' id='wave-2'></div>
        <div class='obj' id='goonies'>
            <div class='obj' id='goonies-piano'></div>
            <div class='obj' id='goonies-skull-01'></div>
            <div class='obj' id='goonies-skull-02'></div>
            <div class='obj' id='goonies-skull-03'></div>
        </div>
    </section>

    <section id="module-1e">
        <div class='obj' id='club-spotlight'>
            <div class='obj' id='spotlight-01'></div>
            <div class='obj' id='spotlight-02'></div>
            <div class='obj' id='spotlight-03'></div>
            <div class='obj' id='spotlight-04'></div>
        </div>
        <div class='obj' id='newrom-1'>
            <div class='obj' id='newrom1-head'></div>
            <div class='obj' id='newrom1-body'></div>
        </div>
        <div class='obj' id='newrom-2'>
            <div class='obj' id='newrom2-head'></div>
            <div class='obj' id='newrom2-arms'></div>
            <div class='obj' id='newrom2-body'></div>
        </div>
        <div class='obj' id='newrom-3'>
            <div class='obj' id='newrom3-head'></div>
            <div class='obj' id='newrom3-body'></div>
        </div>
        <div class='obj' id='nomidancerman'>
            <div class='obj' id='nomidancerman-arms'></div>
            <div class='obj' id='nomidancerman-body'></div>
            <div class='obj' id='nomidancerman-head'></div>
        </div>
        <div class='obj' id='nomidancerwoman'>
            <div class='obj' id='nomidancerwoman-arms'></div>
            <div class='obj' id='nomidancerwoman-body'></div>
            <div class='obj' id='nomidancerwoman-head'></div>
        </div>
        <div class='obj' id='jimjar-smoke'></div>
        <div class='obj' id='ishtar'></div>
    </section>

    <section id="module-1f">
        <div class='obj' id='moleman'>
            <div class='obj' id='moleman-arm'></div>
            <div class='obj' id='moleman-body'></div>
        </div>
        <div class='obj' id='medicine'></div>
        <div class='obj' id='mosquito'></div>
    </section>

    <section id="module-1g">
        <div class='obj' id='night-of-the-comet'>
            <div class='obj' id='night-of-the-comet-blood'></div>
            <div class='obj' id='night-of-the-comet-bullet-time'>
                <div class='obj' id='night-of-the-comet-bullet'></div>
            </div>
            <div class='obj' id='night-of-the-comet-girl'></div>
        </div>
        <div class='obj' id='evil-dead'>
            <div class='obj' id='evil-dead-01'></div>
            <div class='obj' id='evil-dead-02'></div>
                <div class='obj' id='evil-dead-chainsaw'>
                    <div class='obj' id='evil-dead-arm'></div>
                    <div class='obj' id='evil-dead-05'></div>
                    <div class='obj' id='evil-dead-06'></div>
                </div>
            <div class='obj' id='evil-dead-04'></div>
        </div>
    </section>

    <section id="module-1h">
        <div class='obj' id='bender-blink'></div>
        <div class='obj' id='BFF'></div>
    </section>

    <section id="module-1i">
        <div class='obj' id='underwater-gradient'></div>
        <div class='obj' id='rainbow-seahorse'></div>
        <div class='obj' id='belafonte-moove'>
            <div class='obj' id='submarine'>
                <div class='obj' id='belafonte'></div>
                <div class='obj' id='belafonte-light'></div>
            </div>
        </div>
        <div class='obj' id="sharmoove">
            <div class='obj' id='sharkmaid-lochness'></div>
        </div>
        <div class='obj' id="wave-moove">
            <div class='obj' id='underwater-wave'></div>
        </div>
        <div class='obj' id='creatureFTBL'></div>
        <div class='obj' id='little-mermaid'></div>
        <div class='obj' id='league'></div>
        <div class='obj' id='nothing-to-see-here'>
            <div class='obj' id='nothing-to-see-here-01'></div>
            <div class='obj' id='nothing-to-see-here-02'></div>   
            <div class='obj' id='nothing-to-see-here-03'></div>      
        </div>
        <div class='obj' id='MIB'></div>
    </section>

    <section id="module-1j">
        <div id='the-game'>
            <h2>HOW DEEP IS YOUR POP CULTURE KNOWLEDGE?</h2>

            <p><span>TAKE OUR QUIZ FOR A CHANCE TO WIN A CREDIT TOWARD YOUR NEXT PROJECT</span><br>
            Did you spot a familiar face or two on the way down? If so, your pop culture knowledge<br>
            could win the Grand Prize – a $25,000 credit to spend at Bonfire Labs. First prize, a GoPro<span class='trademark'>&trade;</span><br>
            enabled Drone as well as a bunch of other swag for 25 lucky runner-ups. Hit “LET’S GO!” to get started!</p>
            <a href="#quiz" id='lets-go'></a>
            <a href="/home" target='_blank' id="no-thanks">No Thanks.</a>
            <!-- <p><a href="" id="go-to-top">Back to the top</a></p> -->
        </div>
    </section>

    <div id="btm-anchor"></div>
</div>
<!-- <script src="assets/js/animation-control.js"></script>  -->
<script src="assets/js/animation.js"></script> 
<script>
(function($) {

    /* scroll to the last section to enter the game  */
    /* animations */
    setTimeout(function(){
        $.scrollTo($(document).height(), 120000);
    },
    3000);

    // $(document).mousedown(function(){
    //     jQuery('html,body').queue([]).stop();
    // });


    $(document).on('mousedown DOMMouseScroll mousewheel', function(){
        jQuery('html,body').queue([]).stop();

        // setTimeout(function(){
        //     $.scrollTo($(document).height(), 120000);
        // },
        // 1500);
    })

    // $(document).scroll(function(){
    //     jQuery('html,body').queue([]).stop();  //try this
    //     //jQuery.scrollTo.window().queue([]).stop(); //failing that try this
    // });
/* animation control */
    //$.scrollTo($('#the-game'), 6000 );
    //$.scrollTo($('#module-1j'), 1000 );
    //$('html, body').scrollTop( $(document).height() );
    // var top = $('#module-1j').position().top;
    // $('html, body').animate({scrollTop: top}, 10000); 

    /* progressive loading  */
    sectionIds = ['b','c','d','e', 'f', 'g', 'h', 'i','j'];
    //sectionIds =['i','j'];

    var i = 0;

    setTimeout(function(){
        var t=setInterval(function(){
            if (i==sectionIds.length) clearInterval(t);
            $('#module-1'+sectionIds[i]).addClass('loaded');
            i++;
            // if (i==1) {
            //     startAnimation();
            // }

            //}
        }, 2000)    
    }, 1000)

})(jQuery); 
</script>
